<a>Employee Data:</a>
<div class="card-body">
	<!--
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      </thead>
      <tbody>
        <tr>
		  <td>ID</td>
          <td>{{ employee.employee.eid }}</td>
        </tr>
        <tr>
		  <td>First Name</td>
          <td>{{ employee.employee.firstName }}</td>
        </tr>
        <tr>
		  <td>Last Name</td>
          <td>{{ employee.employee.lastName }}</td>
        </tr>
        <tr>
		  <td>Email</td>
          <td><a href="mailto:{{ employee.employee.email }}">{{ employee.employee.email }}</a></td>
        </tr>
        <tr>
		  <td>Adress</td>
		  <td>{{ employee.employee.street }} {{ employee.employee.nr }}</td>
        </tr>
        <tr>
		  <td>Phone Number</td>
		  <td>{{ employee.employee.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>-->
     <form [formGroup]="employeeForm" (ngSubmit)="editEmployee()">
        <div>
          <label>ID</label>
          <label> {{ employee.employee.eid }}</label>
        </div>
        <div>
          <label>First Name</label>
          <input id="firstName" type="text" formControlName="firstName" value="{{ employee.employee.firstName }}">
        </div>
        <div>
          <label>Last Name</label>
          <input id="lastName" type="text" formControlName="lastName" value="{{ employee.employee.lastName }}">
        </div>
        <div>
          <label>Email</label>
          <input id="email" type="text" formControlName="email" value="{{ employee.employee.email }}">
        </div>
        <div>
          <label>Address</label>
          <input id="street" type="text" formControlName="street" value="{{ employee.employee.street }}">
          <input id="nr" type="text" formControlName="nr" value="{{ employee.employee.nr }}">
        </div>
        <div>
          <label>Phone Number</label>
          <input id="phoneNumber" type="text" formControlName="phoneNumber" value="{{ employee.employee.phoneNumber }}">
        </div>
        <button class="button" type="submit">Save data</button>
      </form>
  </div>
<b>Chats:</b>
<div class="chatlist-body">
	<div *ngFor="let chat of employee.partners" class="chat-body">
		<!-- TODO 
			Insert Open and close option
			CCS styling
			Namensgebung?
		-->
		<label>Chatroom {{ chat.rid }}</label>
		<div class="message-list">
			<div *ngFor="let msg of employee.messages" class="message">
				<label>
					{{ msg.time }} User {{ msg.eid }}: {{ msg.txt }}
				</label>
			</div>
		</div>
	</div>
</div>
